In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
df = titanic[['survived', 'pclass', 'age', 'fare']]
df

     survived  pclass   age     fare
0           0       3  22.0   7.2500
1           1       1  38.0  71.2833
2           1       3  26.0   7.9250
3           1       1  35.0  53.1000
4           0       3  35.0   8.0500
..        ...     ...   ...      ...
886         0       2  27.0  13.0000
887         1       1  19.0  30.0000
888         0       3   NaN  23.4500
889         1       1  26.0  30.0000
890         0       3  32.0   7.7500

[891 rows x 4 columns]

In [12]:
#check for nan values in age column

df['age'].isnull().sum()

177

In [13]:
#fill the NAN values

df['age'].fillna(df.age.median(),inplace=True)

C:\Users\maria\AppData\Local\Temp\ipykernel_1252\4283573961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'].fillna(df.age.median(),inplace=True)

In [14]:
df.isnull().sum()

survived    0
pclass      0
age         0
fare        0
dtype: int64

In [23]:
y = df.iloc[:,0]

X = df.iloc[:,1:4]

In [24]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [25]:
X_train

     pclass   age      fare
6         1  54.0   51.8625
718       3  28.0   15.5000
685       2  25.0   41.5792
73        3  26.0   14.4542
882       3  22.0   10.5167
..      ...   ...       ...
106       3  21.0    7.6500
270       1  28.0   31.0000
860       3  41.0   14.1083
435       1  14.0  120.0000
102       1  21.0   77.2875

[596 rows x 3 columns]

In [28]:
#apply standard scaler on training data

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_trained_scaled = scaler.fit_transform(X_train)
X_trained_scaled

array([[-1.62580285,  1.91349292,  0.38784185],
       [ 0.80576177, -0.09452019, -0.31908053],
       [-0.41002054, -0.32621401,  0.18792449],
       ...,
       [ 0.80576177,  0.90948636, -0.34613654],
       [-1.62580285, -1.17575802,  1.71250117],
       [-1.62580285, -0.63513911,  0.8821286 ]])

In [29]:
#applying transform only on test data

X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 0.80576177, -0.09452019, -0.32402243],
       [-0.41002054,  0.13717363, -0.4162854 ],
       [ 0.80576177, -0.71237038, -0.46634591],
       [-0.41002054, -1.79360821,  0.0211365 ],
       [ 0.80576177, -1.17575802, -0.40186603],
       [-1.62580285, -0.24898274,  0.91250512],
       [ 0.80576177, -0.09452019, -0.46974808],
       [ 0.80576177, -1.02129548, -0.2704781 ],
       [ 0.80576177, -1.02129548, -0.46974808],
       [-1.62580285, -0.78960166, -0.10944269],
       [-1.62580285,  0.60056127,  0.41190006],
       [ 0.80576177,  1.14118018, -0.46391578],
       [ 0.80576177, -0.09452019, -0.12531819],
       [ 0.80576177,  0.05994235, -0.47995459],
       [-0.41002054,  0.52332999, -0.36768297],
       [-1.62580285, -1.02129548,  0.14555873],
       [-1.62580285,  0.98671764,  0.40128918],
       [ 0.80576177, -0.09452019, -0.46820835],
       [-0.41002054, -0.17175147, -0.36768297],
       [-1.62580285,  1.372874  ,  0.39051499],
       [ 0.80576177, -0.40344529, -0.46691358],
       [-1.62580285,  0.36886745, -0.10425778],
       [ 0.80576177, -0.78960166, -0.46772233],
       [ 0.80576177, -0.71237038, -0.44107264],
       [ 0.80576177, -0.09452019, -0.33852151],
       [ 0.80576177, -1.48468312, -0.07801247],
       [-1.62580285,  0.83225509, -0.08149629],
       [-0.41002054,  0.13717363, -0.36768297],
       [ 0.80576177, -1.94807076, -0.07801247],
       [ 0.80576177,  0.13717363, -0.46772233],
       [ 0.80576177, -0.78960166, -0.46691358],
       [ 0.80576177, -0.55790784, -0.46974808],
       [-1.62580285, -0.09452019, -0.02365939],
       [ 0.80576177, -0.09452019, -0.47363627],
       [ 0.80576177, -0.86683293, -0.46391578],
       [ 0.80576177, -0.17175147, -0.3394119 ],
       [-1.62580285, -0.09452019,  0.06973893],
       [ 0.80576177, -0.09452019, -0.46974808],
       [-1.62580285,  0.05994235, -0.01774545],
       [ 0.80576177, -0.09452019, -0.46691358],
       [-0.41002054, -0.63513911,  0.80849591],
       [ 0.80576177, -0.01728892, -0.48343841],
       [ 0.80576177, -0.09452019, -0.46391578],
       [ 0.80576177, -0.09452019, -0.46974808],
       [ 0.80576177,  1.21841146, -0.3394119 ],
       [ 0.80576177, -1.02129548,  0.04786783],
       [ 0.80576177, -0.78960166, -0.46181033],
       [ 0.80576177, -0.48067656, -0.44107264],
       [ 0.80576177, -0.40344529, -0.48335676],
       [-1.62580285,  2.22241801,  1.58176062],
       [ 0.80576177, -1.87083949, -0.24601552],
       [-1.62580285,  1.75903037,  1.19731538],
       [ 0.80576177,  0.83225509, -0.07801247],
       [-1.62580285, -1.40745185,  1.71250117],
       [ 0.80576177,  2.76303693, -0.46974808],
       [-1.62580285, -0.86683293,  0.9280579 ],
       [-0.41002054,  0.2144049 , -0.4162854 ],
       [-1.62580285,  1.60456783,  4.19162962],
       [-0.41002054,  0.44609872, -0.21215518],
       [ 0.80576177, -0.78960166, -0.4672363 ],
       [ 0.80576177, -0.63513911, -0.46926205],
       [-0.41002054, -1.2529893 , -0.24131664],
       [-0.41002054, -0.09452019, -0.11495032],
       [-1.62580285, -0.09452019, -0.11640839],
       [ 0.80576177, -0.09452019, -0.46974808],
       [-0.41002054,  2.14518674, -0.4162854 ],
       [-0.41002054, -0.63513911,  0.80849591],
       [ 0.80576177, -0.01728892, -0.46731796],
       [ 0.80576177, -0.9440642 , -0.47987294],
       [-1.62580285,  1.75903037,  0.9011652 ],
       [-0.41002054, -0.24898274, -0.11495032],
       [-1.62580285, -0.86683293,  4.48040973],
       [-1.62580285, -0.24898274, -0.03718642],
       [-1.62580285,  0.75502382,  0.99626266],
       [ 0.80576177, -0.48067656, -0.46772233],
       [ 0.80576177,  0.52332999, -0.31810849],
       [ 0.80576177,  0.09855799, -0.46974808],
       [-1.62580285, -0.55790784,  0.34191255],
       [-0.41002054,  0.67779254, -0.36768297],
       [ 0.80576177,  0.90948636, -0.22746495],
       [ 0.80576177, -1.02129548,  0.15114801],
       [-0.41002054, -0.01728892, -0.4162854 ],
       [-1.62580285,  0.83225509,  1.99439528],
       [ 0.80576177, -0.09452019, -0.46999109],
       [-1.62580285,  2.06795547, -0.02365939],
       [-1.62580285,  3.22642457,  0.34199421],
       [-1.62580285,  0.13717363,  1.58176062],
       [-1.62580285,  0.05994235,  0.48634343],
       [-1.62580285,  0.67779254, -0.62041562],
       [ 0.80576177, -0.09452019, -0.47946856],
       [ 0.80576177, -1.56191439, -0.22138964],
       [ 0.80576177, -1.56191439, -0.01239918],
       [-1.62580285,  2.45411184,  0.00793219],
       [ 0.80576177, -0.09452019, -0.47015245],
       [ 0.80576177, -0.09452019, -0.46691358],
       [ 0.80576177, -0.09452019, -0.46772233],
       [-1.62580285,  1.45010528,  0.39051499],
       [ 0.80576177,  1.21841146, -0.46391578],
       [-0.41002054,  0.52332999, -0.36768297],
       [ 0.80576177, -0.17175147, -0.46691358],
       [-1.62580285,  2.68580566, -0.11495032],
       [ 0.80576177,  0.44609872, -0.48189869],
       [-1.62580285, -0.78960166,  1.15025267],
       [ 0.80576177,  0.67779254, -0.48335676],
       [ 0.80576177,  0.09855799, -0.46391578],
       [ 0.80576177, -0.32621401, -0.46926205],
       [-0.41002054,  0.83225509,  0.13778234],
       [-1.62580285,  1.372874  ,  0.12806185],
       [ 0.80576177,  0.05994235, -0.43572637],
       [-1.62580285,  0.83225509, -0.01774545],
       [-1.62580285, -0.09452019,  0.39051499],
       [ 0.80576177, -0.67375475, -0.47946856],
       [-1.62580285, -0.09452019,  1.11185675],
       [-1.62580285,  0.52332999, -0.10936104],
       [-1.62580285, -0.09452019,  3.69118787],
       [ 0.80576177, -0.71237038, -0.42900369],
       [-1.62580285,  3.22642457,  0.05329575],
       [-0.41002054,  0.52332999, -0.37011309],
       [-0.41002054, -0.55790784, -0.0566274 ],
       [ 0.80576177,  1.45010528,  0.04786783],
       [-0.41002054, -0.48067656, -0.39684443],
       [-1.62580285,  0.2144049 ,  0.86276928],
       [-1.62580285,  2.60857438,  0.8951696 ],
       [-0.41002054, -2.1928939 , -0.0566274 ],
       [ 0.80576177, -0.32621401, -0.47946856],
       [-1.62580285,  0.44609872, -0.10425778],
       [-1.62580285,  1.52733655, -0.11632674],
       [-1.62580285, -0.40344529,  0.91930946],
       [ 0.80576177, -0.09452019, -0.3393322 ],
       [ 0.80576177, -0.63513911, -0.46391578],
       [ 0.80576177, -0.09452019, -0.4672363 ],
       [ 0.80576177, -0.09452019, -0.32402243],
       [-0.41002054, -0.09452019, -0.62041562],
       [ 0.80576177, -1.87083949, -0.37788948],
       [-1.62580285,  1.52733655,  0.48634343],
       [ 0.80576177, -1.09852675, -0.3394119 ],
       [-1.62580285, -0.09452019,  1.53526365],
       [ 0.80576177, -0.01728892, -0.46926205],
       [ 0.80576177,  0.98671764, -0.47363627],
       [ 0.80576177, -0.86683293, -0.2743663 ],
       [ 0.80576177, -0.63513911, -0.45646406],
       [-0.41002054,  1.14118018, -0.11495032],
       [-0.41002054, -0.09452019, -0.36768297],
       [-0.41002054,  0.60056127, -0.11495032],
       [ 0.80576177,  0.75502382, -0.05419727],
       [-0.41002054,  0.36886745,  0.01141601],
       [-0.41002054,  0.05994235, -0.36768297],
       [-0.41002054,  2.8402682 , -0.4162854 ],
       [-1.62580285, -0.09452019,  2.22809133],
       [ 0.80576177,  1.06394891, -0.46391578],
       [ 0.80576177, -0.09452019, -0.45103614],
       [ 0.80576177, -0.40344529, -0.47468997],
       [ 0.80576177, -0.86683293, -0.46885768],
       [ 0.80576177, -0.09452019, -0.15091612],
       [ 0.80576177, -0.09452019, -0.46391578],
       [ 0.80576177, -0.09452019, -0.48335676],
       [ 0.80576177, -0.09452019,  0.47791772],
       [ 0.80576177, -0.09452019, -0.46901904],
       [-0.41002054,  0.52332999, -0.11495032],
       [ 0.80576177,  0.2144049 , -0.31908053],
       [ 0.80576177, -0.44206093, -0.47987294],
       [-1.62580285, -0.09452019, -0.10425778],
       [-0.41002054,  0.75502382, -0.36768297],
       [-1.62580285, -0.09452019,  0.9770647 ],
       [ 0.80576177, -0.09452019, -0.45597804],
       [-1.62580285,  2.76303693,  0.58452035],
       [-0.41002054, -0.48067656, -0.4162854 ],
       [-1.62580285, -0.09452019,  0.38784185],
       [ 0.80576177, -0.55790784, -0.46691358],
       [ 0.80576177,  0.44609872, -0.48335676],
       [-1.62580285, -0.48067656,  0.61133139],
       [-0.41002054, -0.86683293, -0.36768297],
       [-1.62580285,  0.52332999, -0.10741694],
       [ 0.80576177, -1.56191439, -0.32402243],
       [ 0.80576177, -0.9440642 , -0.48189869],
       [ 0.80576177, -0.09452019, -0.47995459],
       [ 0.80576177,  0.67779254, -0.01021207],
       [-0.41002054, -0.9440642 , -0.4162854 ],
       [ 0.80576177, -1.94807076, -0.29575137],
       [-1.62580285,  1.25702709, -0.06634788],
       [-0.41002054, -0.48067656, -0.36768297],
       [ 0.80576177,  0.2144049 , -0.46634591],
       [ 0.80576177, -0.24898274, -0.46772233],
       [ 0.80576177, -1.79360821, -0.01239918],
       [-1.62580285, -0.40344529,  4.19162962],
       [-1.62580285,  1.21841146, -0.10425778],
       [-0.41002054, -0.01728892, -0.08149629],
       [ 0.80576177, -0.09452019, -0.46691358],
       [-1.62580285, -0.09452019,  0.06973893],
       [-0.41002054,  0.98671764, -0.36768297],
       [ 0.80576177,  0.52332999, -0.15091612],
       [-0.41002054,  0.29163617, -0.38177767],
       [ 0.80576177, -0.9440642 , -0.48327511],
       [ 0.80576177, -0.01728892, -0.43572637],
       [-0.41002054,  1.60456783, -0.11495032],
       [-1.62580285,  0.44609872,  1.12927197],
       [-1.62580285,  0.67779254,  3.80289181],
       [-0.41002054,  0.36886745, -0.36768297],
       [-1.62580285, -0.9440642 ,  0.48771985],
       [ 0.80576177, -1.40745185, -0.01239918],
       [ 0.80576177,  2.45411184, -0.49915255],
       [ 0.80576177,  0.05994235, -0.45200819],
       [-0.41002054, -1.71637694, -0.11009007],
       [ 0.80576177,  2.60857438, -0.43402529],
       [ 0.80576177, -0.71237038, -0.47987294],
       [ 0.80576177, -0.09452019, -0.18574851],
       [ 0.80576177, -0.01728892, -0.43605104],
       [-1.62580285,  0.52332999,  1.71250117],
       [ 0.80576177, -0.09452019, -0.3393322 ],
       [ 0.80576177,  1.60456783, -0.46391578],
       [-1.62580285, -0.17175147,  3.49135022],
       [ 0.80576177,  0.05994235, -0.47946856],
       [-1.62580285,  0.29163617,  1.12927197],
       [ 0.80576177, -0.09452019, -0.4702341 ],
       [ 0.80576177, -0.09452019, -0.12531819],
       [ 0.80576177, -2.10253331, -0.21069711],
       [-0.41002054, -0.32621401, -0.03718642],
       [-1.62580285,  1.6817991 ,  0.57285576],
       [-0.41002054, -0.32621401, -0.11495032],
       [ 0.80576177, -0.09452019, -0.47946856],
       [ 0.80576177, -0.09452019, -0.46691358],
       [-0.41002054, -0.40344529, -0.36768297],
       [ 0.80576177, -0.86683293, -0.22746495],
       [-1.62580285, -0.09452019, -0.02746594],
       [ 0.80576177, -0.32621401, -0.48335676],
       [-0.41002054, -0.40344529, -0.33852151],
       [ 0.80576177, -0.55790784, -0.47420395],
       [-1.62580285, -2.18594308,  2.32586387],
       [-0.41002054, -0.40344529, -0.11495032],
       [ 0.80576177, -0.24898274, -0.46634591],
       [-0.41002054,  0.36886745, -0.21215518],
       [-1.62580285, -0.63513911,  4.48040973],
       [ 0.80576177, -0.09452019, -0.46974808],
       [ 0.80576177, -0.09452019, -0.47987294],
       [ 0.80576177, -0.09452019, -0.45200819],
       [ 0.80576177, -0.55790784, -0.46926205],
       [-1.62580285,  2.53134311,  0.93486224],
       [ 0.80576177, -0.86683293, -0.42908339],
       [-1.62580285,  0.98671764,  3.80289181],
       [-0.41002054,  2.14518674, -0.3803196 ],
       [ 0.80576177, -0.78960166, -0.62041562],
       [-0.41002054,  0.98671764, -0.11495032],
       [ 0.80576177, -0.09452019, -0.47995459],
       [ 0.80576177, -0.71237038, -0.45200819],
       [ 0.80576177,  0.40748308, -0.49526435],
       [ 0.80576177, -0.09452019, -0.43572637],
       [ 0.80576177, -0.09452019, -0.46391578],
       [ 0.80576177, -0.48067656, -0.46691358],
       [ 0.80576177, -0.55790784, -0.47946856],
       [-1.62580285,  1.75903037, -0.02746594],
       [ 0.80576177,  0.05994235, -0.37788948],
       [-0.41002054,  0.56194563, -0.11495032],
       [ 0.80576177, -0.09452019, -0.46974808],
       [ 0.80576177, -0.55790784, -0.47987294],
       [-1.62580285,  1.60456783,  1.97787045],
       [ 0.80576177, -0.17175147, -0.48481483],
       [ 0.80576177, -0.55790784, -0.46391578],
       [-1.62580285,  1.6817991 ,  0.8951696 ],
       [-0.41002054,  0.52332999, -0.4162854 ],
       [-0.41002054, -0.01728892, -0.11495032],
       [-1.62580285, -0.55790784,  2.32586387],
       [-1.62580285,  1.60456783,  1.44858996],
       [-0.41002054,  0.83225509, -0.36768297],
       [ 0.80576177, -0.17175147, -0.45200819],
       [-1.62580285, -0.09452019, -0.62041562],
       [-1.62580285,  2.76303693, -0.10425778],
       [ 0.80576177, -0.9440642 , -0.45200819],
       [-1.62580285, -0.09452019, -0.10425778],
       [-1.62580285, -1.94807076,  0.9709894 ],
       [ 0.80576177, -0.09452019, -0.46691358],
       [ 0.80576177, -2.17976458, -0.40397343],
       [-0.41002054,  0.52332999, -0.08092861],
       [-0.41002054,  1.06394891, -0.11009007],
       [-1.62580285,  0.67779254,  2.36304473],
       [-0.41002054,  0.13717363, -0.11009007],
       [ 0.80576177, -0.01728892, -0.46391578],
       [ 0.80576177, -0.86683293, -0.45905554],
       [-0.41002054, -0.09452019, -0.32782897],
       [-1.62580285,  0.75502382,  1.53526365],
       [-0.41002054,  0.75502382, -0.36768297],
       [ 0.80576177, -0.24898274, -0.45200819],
       [ 0.80576177, -0.71237038, -0.48335676],
       [-1.62580285, -0.09452019,  1.97787045],
       [ 0.80576177,  1.52733655, -0.62041562],
       [-0.41002054, -0.48067656, -0.32791062],
       [ 0.80576177, -2.17976458,  0.15114801],
       [ 0.80576177, -0.09452019, -0.4672363 ],
       [ 0.80576177, -0.09452019, -0.1645248 ],
       [-0.41002054, -2.02530203, -0.11495032],
       [ 0.80576177, -1.94807076, -0.40397343],
       [ 0.80576177, -0.78960166, -0.47169217],
       [ 0.80576177,  0.87087073, -0.46974808],
       [ 0.80576177, -2.17976458, -0.31438165],
       [ 0.80576177, -0.09452019, -0.32402243],
       [ 0.80576177, -0.63513911, -0.46634591]])

#### Model Building
fit for training data and predict for test data

In [30]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_trained_scaled,y_train)

LogisticRegression()

In [31]:
lr.predict(X_test_scaled)

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)